@import url("normalize.css");

body {
  display: grid;
  grid-template-areas:
    "menu"
    "header"
    "content";
  max-width: 100%;
}

nav {
  grid-area: menu;
}

header {
  grid-area: header;
  background-image: url("/images/smartcity-about.jpg");
  background-size: cover;
  background-position: top;
  height: 350px;
}

main {
  grid-area: content;
  padding: 1rem;
}

main article {
  padding: 1rem 0;
}
