@import url("normalize.css");

body {
  display: grid;
  grid-template-areas:
    "menu"
    "header"
    "content";
  max-width: 100%;
}

nav {
  grid-area: menu;
}

header {
  grid-area: header;
  background-image: url("/images/smartcity-index.jpg");
  background-size: cover;
  background-position: top;
  height: 600px;
}

main {
  grid-area: content;
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "about project idea";
  grid-gap: 2rem;
  width: 70%;
}
main article {
  padding: 1rem 0;
}

#article-about {
  grid-area: about;
}

#article-project {
  grid-area: project;
}

#article-idea {
  grid-area:idea ;
}
