main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "intro intro"
    "production all";
  grid-gap: 2rem;
  width: 40%;
}

.project-intro {
  grid-area: intro;
  text-align: center;
}

.project-production {
  grid-area: production;
}

.project-all {
  grid-area: all;
}
