<% include ../partials/header %>

<main>
  <h2>Takk for din idé!</h2>
  <p>Din idé er registrert. Denne idéen vil bli vurdert, men vi gjør oppmerksom på at vi ikke kan realisere alle idéer.
    Ditt innspill kan bidra til et bedre samfunn i Halden.</p>
</main>

<% include ../partials/footer %>
