<% include ../partials/header %>

<main>
  <h2>Prosjekter</h2>
  <p>En oversikt over prosjektene. </p>
  <div >
    <% projects.forEach(function(projects){ %>
      <div id="projShow" data-id="<%= projects._id %>">
        <%= projects.title %> - <%= projects.text %> - <%= projects._id %>
      </div>
    <% }) %>

  </div>
</main>

<% include ../partials/footer %>
