<% include ../partials/header %>

<main>
  <div class="formContainer">

      <h2>Send oss din idé!</h2>

      <form action="/prosjekter" method="POST">
          <p><input type="text" name="title" placeholder="Tittel" required></p>
          <p><input type="text" name="text" placeholder="Din idé"required></p>
          <p><input type="file" name="pic" accept="image/*"> </p>
          <input type="submit" value="Send inn">
      </form>
      <!-- <p><input type="text"></p>
      <p><textarea name="" id="" cols="30" rows="10"></textarea></p>
      <p><a href="ideSendt">Send inn</a></p> -->

  </div>

  <a href="/prosjekter">Back</a>
  
</main>

<% include ../partials/footer %>
