<% include ../partials/header %>
<a href="/prosjekter">Back</a>
<section>
    <h1><%= project.title %></h1>
    <hr>
    <p><%= project.text %></p>
    <img src="<%= project.img%>" alt="">
    <small><%= project.author.username %></small>
    
</section>

<% include ../partials/footer %>