<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/about.css">

<header>
</header>

<main>
  <h2>Smart City Halden - smart by, et godt sted å leve</h2>

  <article>
    <p><strong>Smart City, eller smarte byer, er et begrep som brukes over hele verden og som forklarer hvordan byer og bygder
        skal utvikles til å bli bærekraftige og moderne samfunn der både økonomiske, sosiale og miljømessige verdier gjennomsyrer
        alt vi gjør og skaper. </strong></p>
    <p>Halden kommune skal være Norges mest innovative kommune, og har startet programmet Smart City Halden for å bidra til dette. </p>
    <p>Programmet skal legge til rette for forskning, utvikling og innovasjon for en bærekraftig samfunnsutvikling. Programmet skal
      stimulere til eksperimentering, testing og demonstrering av ny teknologi, nye tjenester til innbyggerne og nye typer
      forretningsmodeller som skaper verdi for et fremtidsrettet samfunn. </p>
    <p>Et Smart City Halden prosjekt utpeker seg ved at (1) prosjektet er bærekraftig på både kort og lang sikt, (2) det utføres
      i samarbeid med flere ulike samfunnsaktører og (3) det tar i bruk teknologi på en innovativ måte. </p>
    <p>Disse tre er driverne i Smart City Halden, og skal være synlige i ethvert Smart City Halden-prosjekt.</p>
  </article>
</main>

<% include partials/footer %>
