<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<header>
</header>

<main>
    <article id="article-about">
      <h2>Smart City Halden</h2>
      <p>Smart City, eller smarte byer, er et begrep som brukes over hele verden og som forklarer hvordan byer og bygder skal
        utvikles til å bli bærekraftige og moderne samfunn der både økonomiske, sosiale og miljømessige verdier gjennomsyrer alt
        vi gjør og skaper. </p>
      <p><a href="about" class="button">Les mer om Smart City</a></p>
    </article>

    <article id="article-project">
      <h2>Prosjekter</h2>
      <p>Et Smart City Halden prosjekt utpeker seg ved at (1) prosjektet er bærekraftig på både kort og lang sikt, (2) det utføres i
        samarbeid med flere ulike samfunnsaktører og (3) det tar i bruk teknologi på en innovativ måte. </p>
      <p><a href="/prosjekter" class="button">Se prosjekter</a></p>
    </article>

    <article id="article-idea">
      <h2>Idé</h2>
      <p>Vi som kommune ønsker å være på topp når det gjelder innovative løsninger, men det er ikke alltid at det er oss ansatte som
        sitter på de beste idéene, eller ser behovene. Derfor ønsker vi å høre deres idéforslag. </p>
      <% if(!currentUser){ %>
      <p><a href="login" class="button">Kom med din idé</a></p>
      <% } else { %>
        <p><a href="/prosjekter/new" class="button">Send inn din ide!</a></p>
      <% } %>
    </article>
</main>

<% include partials/footer %>
