<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<header>
</header>

<main>
    <article id="article-about">
      <h2>Smart City Halden</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non neque dui. Duis vitae nisl nec tellus maximus consequat. Aliquam ac felis vitae orci vehicula aliquam eget a turpis. Quisque lacinia erat nibh. Suspendisse aliquet nunc vitae tellus pretium dapibus. Ut eu convallis quam. Phasellus ultrices, nulla elementum semper imperdiet, sem lacus laoreet felis, sed consectetur dui tortor vel odio. Duis dapibus felis sed efficitur luctus. Aliquam sed rhoncus tortor. Etiam a quam ut nisi ultrices consectetur id sed tellus. Sed dictum, felis et laoreet tempus, sem lorem finibus diam, id aliquam leo felis quis purus. Sed placerat euismod ullamcorper.</p>
      <p><a href="about" class="button">Les mer om Smart City</a></p>
    </article>

    <article id="article-project">
      <h2>Prosjekter</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla egestas mi non tellus ornare mollis. Nulla consequat diam quis mauris scelerisque ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis iaculis dui sed turpis interdum, quis varius eros pharetra. Vestibulum pulvinar magna id ex euismod pulvinar. Maecenas vitae metus at turpis aliquam vulputate. In eleifend, risus sed pretium elementum, quam ligula scelerisque arcu, vel sagittis est ligula vitae diam. Fusce lacinia sapien a libero lacinia hendrerit. Sed dolor felis, sodales dignissim vestibulum at, hendrerit in odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ultrices mattis felis id ornare. Etiam metus tortor, euismod in tortor vel, placerat sagittis sapien. Fusce pulvinar risus a ex ullamcorper gravida. Suspendisse potenti.</p>
      <p><a href="/prosjekter" class="button">Se prosjekter</a></p>
    </article>

    <article id="article-idea">
      <h2>Idé</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum ipsum ut ex feugiat laoreet. Praesent vitae volutpat orci. Aliquam faucibus at leo non facilisis. Ut quis pellentesque diam. Proin sit amet varius libero. Sed malesuada tincidunt tellus. Maecenas varius blandit consequat. Donec sed tempus eros, sed mollis justo. Etiam tempus risus a ullamcorper tristique. Vivamus sagittis magna nunc, quis ullamcorper velit tristique et. Phasellus tincidunt quam sit amet eros mattis maximus a non urna. Sed pretium magna in ultrices tempus.</p>
      <% if(!currentUser){ %>
      <p><a href="login" class="button">Kom med din idé</a></p>
      <% } else { %>
        <p><a href="/prosjekter/new">Send inn din ide!</a></p>
      <% } %>
    </article>
</main>

<% include partials/footer %>
