<% include partials/header %>

<div class="infoContainer">
    <h1>Velkommen</h1>
    <% if(currentUser && currentUser.isAdmin) { %>
        <h2>Velcome admin</h2>
    <% } %>
</div>


<% include partials/footer %>