<% include partials/header %>

<main>
  <div class="formContainer">

      <h2>Logg inn</h2>

      <form action="/login" method="POST">
          <p>E-post: <br />
            <input type="text" name="username" placeholder="E-post"></p>
          <p>Passord: <br/>
            <input type="password" name="password" placeholder="Passord"></p>
          <p><input type="submit" value="Logg inn" class="button"></p>
      </form>
      <p><a href="/register">Ikke bruker? Registrer deg her</a></p>

  </div>
</main>

<% include partials/footer %>
