<% include partials/header %> 

<h1>Registrer deg</h1>

<form action="/register" method="POST">

    <input type="text" name="username" placeholder="Navn">
    <input type="email" name="email" placeholder="E-post">
    <input type="number" name="tlf" placeholder="Telefonnummer">
    <input type="password" name="password" placeholder="Passord">
    <input type="submit" value="Login">

</form>

<% include partials/footer %> 