<% include partials/header %> 

<h1>Registrer deg</h1>

<form action="/login" method="POST">

    <input type="text" name="forNavn" placeholder="Fornavn">
    <input type="text" name="etterNavn" placeholder="Etternavn">
    <input type="email" name="email" placeholder="E-post">
    <input type="number" name="telefon" placeholder="Telefonnummer">
    <input type="password" name="password" placeholder="Passord">
    <input type="submit" value="Login">

</form>

<% include partials/footer %> 