<% include partials/header %>

<main>
  <div class="formContainer">

      <h2>Registrer deg</h2>

      <form action="/register" method="POST">

          <p><input type="email" name="username" placeholder="E-post" required></p>
          <p><input type="text" name="name" placeholder="Navn" required></p>
          <p><input type="number" name="tlf" placeholder="Telefonnummer" required></p>
          <p><input type="password" name="password" placeholder="Passord" required></p>
          <!-- <p><input type="text" name="adminCode" placeholder="Admin"></p> -->
          <p><input type="submit" value="Registrer deg">

      </form>

</div>
</main>

<% include partials/footer %>
