<% include partials/header %>

<main>
  <div class="formContainer">

      <h2>Registrer deg</h2>

      <form action="/register" method="POST">
          <p>E-post: <br />
            <input type="email" name="username" placeholder="E-post" required></p>
          <p>Navn: <br />
            <input type="text" name="name" placeholder="Navn" required></p>
          <p>Telefonnummer: <br />
            <input type="number" name="tlf" placeholder="Telefonnummer" required></p>
          <p>Passord: <br />
            <input type="password" name="password" placeholder="Passord" required></p>
          <p>Admin: <br />
            <input type="text" name="adminCode" placeholder="Admin"></p>
          <p><input type="submit" value="Registrer deg" class="button">
      </form>

</div>
</main>

<% include partials/footer %>
